---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <NavBar />
    <section
      class="bg-black h-screen w-screen text-center relative overflow-hidden content-evenly"
    >
      <div class="flex flex-col w-96 mt-72 relative z-30">
        <h2 class="text-white text-7xl text-justify mb-5 ml-10">
          WE,<br />ROBOT
        </h2>
        <a
          href="#"
          class="bg-white rounded mt-5 ml-10 w-44 py-2 font-semibold text-black transition-all duration-300 hover:translate-x-[-4px] hover:translate-y-[-4px] hover:rounded-md hover:shadow-[4px_4px_0px_black] active:translate-x-[0px] active:translate-y-[0px] active:rounded-2xl active:shadow-none"
          >Saber más</a
        >
      </div>
      <div class="absolute top-0 bottom-0 h-full z-10">
        <img
          class="object-center object-cover h-full w-screen"
          src="/FondoHeder.png"
          alt=""
        />
      </div>
    </section>
  </main>
</Layout>

<!-- Lo que se hizo para poder bajar el We Robot es crear un div el cual contiene al
h2 y al a este div nos siver para darle flex y que sea en columna definiendo su
ancho y margen top para bajarlo ahora en la section esta ocupando un ancho y
alto tamaño de la pantalla siendo relativo y lo que ayudo a bajar el we robot
es el content-evenly que lo bajo a la mitad
y con el mt ya lo fuimos regulando-->
