---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Backgroudheder from "../components/Backgroudheder.astro";
---

<Layout title="Welcome to Astro.">
  <NavBar />
  <main class="snap-y snap-mandatory relative w-screen h-screen overflow-auto">
    <div class="snap-center">
      <Backgroudheder />
    </div>
    <div class="snap-center">
      <Backgroudheder />
    </div>
    <div class="snap-center">
      <Backgroudheder />
    </div>
  </main>
</Layout>

<!-- Lo que se hizo para poder bajar el We Robot es crear un div el cual contiene al
h2 y al a este div nos siver para darle flex y que sea en columna definiendo su
ancho y margen top para bajarlo ahora en la section esta ocupando un ancho y
alto tamaño de la pantalla siendo relativo y lo que ayudo a bajar el we robot
es el content-evenly que lo bajo a la mitad
y con el mt ya lo fuimos regulando-->
