---
const { titulo, subtitulo, precio } = Astro.props;
---

<section class="h-screen w-[1903px] bg-white flex flex-col items-center">
  <section
    class="flex flex-col items-center text-center rounded-lg w-[1680px] h-full m-10 relative"
  >
    <div
      class="flex flex-col w-[568px] mt-20 relative z-30 justify-center items-center"
    >
      <h2 class="text-white text-7xl text-justify mb-5 ml-10 font-semibold">
        {titulo}
      </h2>
      <h3 class="text-2xl font-bold text-white">{precio}</h3>
      <span class="text-white text-sm font-medium">{subtitulo}</span>
    </div>
    <div class="flex grow"></div>
    <footer class="flex z-30 w-[568px] justify-around pb-3">
      <div class="">
        <a
          href="#"
          class="w-[264px] h-[40px] bg-blue-600 border-blue-600 rounded border-[3px] px-[24px] by-[3px] flex justify-center items-center text-white font-medium text-sm hover:bg-gray-700 hover:text-white hover:border-gray-700 transition-colors duration-700"
          >Encargar</a
        >
      </div>

      <a
        href="#"
        class="w-[264px] h-[40px] bg-white border-white rounded border-[3px] px-[24px] by-[3px] flex justify-center items-center transition-colors duration-700 hover:bg-black hover:border-black hover:text-white text-black font-medium text-sm"
        >Prueba de conducción</a
      >
    </footer>
    <div class="flex z-30 pb-16 font-medium">
      <a href="#" class="text-xs text-white underline font"
        >Disponible con Moves III</a
      >
    </div>

    <div class="absolute h-full">
      <slot name="background" />
    </div>
  </section>
</section>
